.form-login{
    width:100vw;
    height:100vh;
  /*  line-Height:100vh;
    display: flex;*/
}
h1{
    font-size: 20px;
    margin-bottom: 20px;
    color: #5A5A5A;
}
.logo-img{
    height:150px;
    margin-top: 50px;
}
.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    width: 30%;
    padding: 10px;
    align-self:center;
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
    height: 50vh;
    border-radius: 10%;
    border: 1px solid #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    
}
.form-container{
    justify-content: center;
    flex-direction: column;
}
.login-details{
    flex-direction: column;
    justify-content: center;
}

.btn-login{
    width: 70%;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #5A5A5A;
    color:#ffff;
    border-radius: 12px;
}
.form-input{
    margin-bottom: 10px;
    flex-direction: column;

}

.email-input{
    margin-top: 20px;
    margin-bottom: 10px;
}
.pass-input{

}
.form-account{
margin-bottom: 10px;
font-size: 12px;
color: #7FCAC6;

}

.form-password-forget{
    font-size: 12px;
    margin-bottom: 10px;
    color: #7FCAC6;
    margin-top: 15px;

}

.error{
    font-size:12px;
      color: #999;
      max-height: 0;
      transition: 0.28s;
      overflow: hidden;
      color: red;
      font-style: italic;
}
.login-label{
    color: #5A5A5A;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;

}
input{
width: 70%;

}
